server {
    listen 80 ;
    server_name {{ ansible_fqdn }};
    return 301 https://{{ ansible_fqdn }};

}
server {
    listen 443 ssl;
    server_name {{ ansible_fqdn }};

    ssl_certificate /etc/pki/tls/certs/public.crt;
    ssl_certificate_key /etc/pki/tls/private/private.key;

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
    }
}
